

body {
  font-family: Atkinson, sans-serif;
  font-size: 1.25rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  line-height: 1.25em;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
}

h1#title {
  font-size: 2em;
  float: left;
}

h1#lang {
  font-size: 2em;
  float: right;
}

.selected-lang {
  text-decoration: underline;
}

h2#author {
  clear: both;
  font-size: 1em;
  font-weight: normal;
  /* margin-top: 0em; */
}

#passages {
  margin-top: 4em;
}

.passage {
  margin-bottom: 3em;
}

.number {
  background-color: lightgrey;
  padding: 0.5em;
  font-weight: bold;
}

.action {
  font-weight: bold;
}

.options {
  list-style-type: circle;
}

li + li {
  margin-top: 0.5em;
}

a {
  color: inherit;
}
